[submodule "DominandoLinguagemJava/Desafios/EntregaProjeto/DominandoLinguagemJavaDesafiosEntregaProjetosantander-dev-week-2023"]
	path = DominandoLinguagemJava/Desafios/EntregaProjeto/DominandoLinguagemJavaDesafiosEntregaProjetosantander-dev-week-2023
	url = https://github.com/falvojr/santander-dev-week-2023.git
