<div class="menu-bar-container">
	<div class="menu-bar-logo">
		<img
			src="assets/img/psn-store-logo.png"
			alt="Playstation-Logo"
			srcset=""
			width="140px"
			height="32px">
	</div>
	<div class="menu-bar-item">
		<ul>
			<li>
				<a href="https://waguiner89.github.io/portfolio/" target="_blank">
					PERSONAL PAGE
				</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/in/wagner-camargo-vaz-44746a44/" target="_blank">
					LINKEDIN
				</a>
			</li>
			<li>
				<a href="https://cursos.alura.com.br/emprega-one/profile/wagner-vaz89" target="_blank">
					PerfilOracleOne
				</a>
			</li>
			<li>
				<a href="https://github.com/waguiner89" target="_blank">
					GITHUB
				</a>
			</li>
		</ul>
	</div>
</div>
